img {
  display: block;
  width: 100%;
}
.product-page-wrapper {
  height: 100vh;
  padding: 1rem 1rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.side-bar-image {
  display: grid;
  grid-template-columns: 10% 90%;
}

.side-bar-image__imglist {
  height: fit-content;
  margin-right: 0.5rem;
}

.side-bar-image__thumbnail {
  width: 550px;
  height: 500px;
}

.side-bar-image__img {
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
}

.side-bar-data {
  color: #222;
  padding: 0 1rem;
}

.btn-cart {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: red;
  border-radius: 0.25rem;
  border: 2px solid transparent;
}
.side-bar-data__price {
  font-size: 1.25rem;
}

.btn-cart:hover {
  color: black;
  background-color: #fff;
  border: 2px solid red;
}
