* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.root {
  background-color: #fff;
}

/* navbar */
.nav-header {
  padding: 0.75rem;
  background-color: black;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-title {
  margin-inline: auto;
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #c33b3b, #661794);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-link {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-left: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: white;
  border-color: #646cff;
}

/* main wrapper */
.main-wrapper {
  max-width: 1000px;
  margin-inline: auto;
}

/* product */
.product-section {
  padding: 1rem;
}

.product-section-title {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.75rem;
  color: white;
  background-color: #111;
  border-radius: 0.5rem;
}

.product-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  padding: 0.85rem;
  margin: 0.5rem;
  display: block;
  flex-basis: 300px;
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
}

.product__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.25rem;
  text-align: center;
  color: red;
}

.product:hover .product__title {
  color: rgb(255, 0, 0, 80%);
}

.product__image {
  margin-bottom: 0.7rem;
  display: block;
  width: 250px;
  height: 300px;
}

.product-rating {
  font-size: 1.5rem;
}

.product__price {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  display: block;
}

/* form styling */
.login-form-title {
  font-family: cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #c33b3b, #661794);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  width: 100wh;
  height: 100vh;
}

.form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
}

.login-form {
  min-width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  padding: 0.25em;
  display: block;
  font-size: 1em;
}

.form-control {
  padding: 0.75em;
  font-size: 1rem;
}

.form-text {
  padding: 0.25em;
  font-size: 14px;
  color: red;
}

.btn {
  padding: 0.75rem 0.95rem;
  font-size: 0.85rem;
  border-radius: 0.25rem;
}

.btn-logout {
  color: white;
  background-color: #222;
  font-size: 1rem;
  border: 2px solid transparent;
}

.btn-logout:hover {
  border: 2px solid blue;
}

.btn-submit {
  margin-top: 1rem;
  align-self: center;
  color: white;
  background-color: #222;
  font-size: 1rem;
  border: 2px solid transparent;
}

.btn-submit:hover {
  color: black;
  background-color: #fff;
  border: 2px solid blue;
}

/* product-page */
.product-page {
  width: 100wh;
  height: 100vh;
  padding: 2rem;
  display: flex;
  border: 2px solid red;
}

.product-page-image {
  margin-right: 5rem;
}

.product-page-content-wrapper {
  display: flex;
  flex-direction: column;
}

.product-page-title {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: -0.25rem;
}

.product-page-category {
  margin-bottom: 1rem;
}

.product-page-desc {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.product-page-price {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.btn-buy {
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  color: white;
  background-color: red;
  border: 2px solid transparent;
  align-self: flex-start;
}

.btn-buy:hover {
  border: 2px solid red;
  color: black;
  background-color: inherit;
}

.footer {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 14px;
  color: #fcfcfc;
  background-color: #111;
}
